.venv/
__pycache__/
*.pyc
.env
.DS_Store
data/raw/
data/processed/
data/synthetic/
*.zip
.terraform/
*.tfstate
*.tfstate.backup
.ipynb_checkpoints/

*.tfvars
!*.tfvars.example
tfplan

# Bloc 3
.venv-airflow/
bloc3-pipelines/airflow/
bloc3-pipelines/dbt/miroir/target/
bloc3-pipelines/dbt/miroir/dbt_packages/
bloc3-pipelines/dbt/miroir/logs/
__pycache__/

# Bloc 4
bloc4-mlops/models/*
!bloc4-mlops/models/.gitkeep
bloc4-mlops/data/synthetic/*.csv
bloc4-mlops/data/synthetic/*.parquet
mlruns/
mlflow.db
